.filter-section{
    // height: 100%;
}

.jobs-section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 50px 0px !important;
}

.jobsectiondiv{
    // height: 100px;
    width: 80%;
    // background-color: aquamarine;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 20px 0px;
}