.list-group-item{
    border: none !important;
    color: white !important;
    background-color: black !important;
}

.employement{
    
}

.borderbottom{
    margin: 1rem 2rem !important;
    color: white;
}

.form-check{
    color: white;
}

.radiofilter{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}